<div id="ppt_notes_table">
  <div id="manage_ppt">
    <div id="manage_ppt_title">Manage PDF Notes</div>
    <div id="add_ppt_icon">
      <mat-icon (click)="addpdf()">add_circle</mat-icon>
    </div>
  </div>
  <div id="number_of_ppt_notes">
    <div id="for_total_number">Total : {{pdfnotesGet}}</div>
    <div id="search_box">
      <input matInput (keyup)="applyFilter($event)" type="text" placeholder="Search" #input>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- SL No-->
      <ng-container matColumnDef="pdf_id">
        <th mat-header-cell *matHeaderCellDef> SL No. </th>
        <td mat-cell *matCellDef="let element;let i= index;"> {{(paginatorRef.pageIndex * paginatorRef.
          pageSize)+(i+1)}} </td>
      </ng-container>

      <!-- Course Name -->
      <ng-container matColumnDef="course_id_fk">
        <th mat-header-cell *matHeaderCellDef> Course Name </th>
        <td mat-cell *matCellDef="let element">{{element.course_name}}</td>
      </ng-container>

        <!-- topic Name -->
        <ng-container matColumnDef="topics_id_fk">
          <th mat-header-cell *matHeaderCellDef> Topic Name </th>
          <td mat-cell *matCellDef="let element"> {{element.topics_name}} </td>
        </ng-container>

      <!-- PDF Notes -->
      <ng-container matColumnDef="pdf_notes_name">
        <th mat-header-cell *matHeaderCellDef>PDF File Name</th>
        <td mat-cell *matCellDef="let element"> {{element.pdf_notes_name}} </td>
      </ng-container>

      <!-- File Name -->
      <ng-container matColumnDef="pdf_file">
        <th mat-header-cell *matHeaderCellDef> PDF File </th>
        <td mat-cell *matCellDef="let element"><a
            href="{{imageUrl}}/{{element.pdf_file}}"><mat-icon>picture_as_pdf</mat-icon></a></td>
      </ng-container>

      <!-- Delete Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row"><mat-icon (click)="editpdf(row)">create</mat-icon> <mat-icon (click)="pdf_notes_delect(row)">delete</mat-icon></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginatorRef [pageSizeOptions]="[5,10, 15]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>