<div id="course_form">
    <div id="form_head">{{for_heading}}
        <span style="float: right;">
            <mat-icon style=" width:auto; height:auto; font-size:35px; transform: rotate(45deg);cursor: pointer;"
                mat-dialog-close>add_circle</mat-icon>
        </span>
    </div>
    <form [formGroup]="sliderForm">
        <div id="main_form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Slider Description</mat-label>
                <input matInput required formControlName="slider_text">
            </mat-form-field>

            <input type="file" id="course_imgs"  (change)="onFileChanged($event)"  formControlName="slider_img">

            <input type="number" readonly [ngModel]="admin" formControlName="admin_id_fk" hidden>
            <input type="number" formControlName="slider_id" hidden>
        </div>
    </form>
    <button mat-raised-button color="warn" (click)="reset()">Reset</button>
    <button mat-raised-button color="primary" style="margin-left: 15px;" (click)="addslider()"[disabled]="!sliderForm.valid">{{action_btn}}</button>
</div>