<div>
    <!-------- Total course -------->
    <div class="box"  [routerLink]="['manage_course']">
        <p>{{total_course}}</p>
        <br>
        <span>Total Course</span>
        <mat-icon>subject</mat-icon>
    </div>

    <!-- Total Topics -->
    <div class="box" [routerLink]="['addtopic']">
        <p>{{all_topics}}</p>
        <br>
        <span>Total Topics</span>
        <mat-icon>chrome_reader_mode</mat-icon>
    </div>

    <!-- Total Content -->
    <div class="box" [routerLink]="['manage_topics']">
        <p>{{all_content}}</p>
        <br>
        <span>All Content</span>
        <mat-icon>line_weight</mat-icon>
    </div>

    <!-- Total PPT Notes -->
    <div class="box" [routerLink]="['ppt_notes']">
        <p>{{all_ppt_notes}}</p>
        <br>
        <span>All PPT</span>
        <mat-icon>file_copy</mat-icon>
    </div>

    <!-- Total PDF Notes -->
    <div class="box" [routerLink]="['pdf_notes']">
        <p>{{all_pdf_notes}}</p>
        <br>
        <span>All PDF</span>
        <mat-icon>picture_as_pdf</mat-icon>
    </div>

    <!-- Total University -->
    <div class="box" [routerLink]="['university']">
        <p>{{all_university}}</p>
        <br>
        <span>All University</span>
        <mat-icon> business</mat-icon>
    </div>

    <!-- Total syllabus -->
    <div class="box" [routerLink]="['syllabus']">
        <p>{{all_syllabus}}</p>
        <br>
        <span>All Syllabus</span>
        <mat-icon> business</mat-icon>
    </div>

    <!-- Total previous question -->
    <div class="box" [routerLink]="['previous_question']">
        <p>{{all_previous_question}}</p>
        <br>
        <span>All Previous Question</span>
        <mat-icon> business</mat-icon>
    </div>

    <!-- video -->
    <div class="box" [routerLink]="['video']">
        <p>{{all_video}}</p>
        <br>
        <span>Video</span>
        <mat-icon>ondemand_video</mat-icon>
    </div>

    <!-- img slider -->
    <div class="box" [routerLink]="['img_slider']">
        <p>{{all_img_slider}}</p>
        <br>
        <span>Iamge Slider</span>
        <mat-icon>view_carousel</mat-icon>
    </div>


    <!-- Total enquiry -->
    <div class="box" [routerLink]="['enquiry']">
        <p>01</p>
        <br>
        <span>Enquiry</span>
        <mat-icon> contact_mail</mat-icon>
    </div>

    <!-- Tota; Notification -->
    <div class="box" [routerLink]="['notification']">
        <p>{{total_noti}}</p>
        <br>
        <span>Notification</span>
        <mat-icon>notifications</mat-icon>
    </div>

</div>